
.NavBar--Home {
    padding-left: 10px;
    padding-right: 10px;
    background-color: #CDCDCD;
    height: 50px;
    display: flex;
    align-items: center;;
}

.MenuIcon--Home {
    padding: 3px;
    width: 35px;
    height: 35px;
    border-radius: 5px;
    border: solid 2px #000000;
}

.MenuIcon--Home:hover {
    cursor: pointer;
    background-color: #cdcdcd;
}


/* Pokemon info */
.Pokemon--Home {
    box-shadow: 0 2px 5px 0 rgba(175, 175, 175, 0.2), 0 5px 8px 0 rgba(175, 175, 175, 0.19);
    border-radius: 5%;
    margin: 10px auto;
    text-align: center;
    padding: 10%;
}
.Pokemon--Home:hover {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 5px 8px 0 rgba(0, 0, 0, 0.19);
}


.pokemonThumbnail--Home {
    width: 100px;
    padding: 15px;
    margin-bottom: 5px;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(175, 175, 175, 0.2), 0 5px 8px 0 rgba(175, 175, 175, 0.19);
}



.Pokemon--Home > p {
    margin: 0;
}


/* PokemonInfo.js */
.StatBar--PokeInfo {
    display: flex;
}

.Stats--PokeInfo {
    width: 40px;
	height: 15px;
	transform: skew(-20deg);
    background: #ffffff;
    border: 1px solid #555555;
    transition: width 0.5s;
    margin: 2px;
}

/* Type List */
.TypeList--Home {
    background-color: #ffffff;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    position: fixed;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 0 20px 0 rgba(0, 0, 0, 0.19);
    overflow-x: hidden;
    transition: all 0.5s;
}

.TypeList-Visible--Home {
    visibility: visible;
    width: 150px;
}

.TypeList-Hidden--Home {
    visibility: hidden;
    width: 0px;
}

.TopBar-TypeList--Home {
    background-color: #EEEEEE;
    padding: 5px 3px;
    display: flex;
    margin-bottom: 5px;
}
.Icon--Home {
    width: 25px;
    margin-left: auto;
}
.TypeText {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 0;
}

.TopBar-TypeList--Home > img:hover {
    cursor: pointer;
}

#TypeContainer {
    border-radius: 25px;
    text-align: center;
    width: 70%;
    height: 40px;
    line-height: 40px;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    color: white;
}
#TypeContainer:hover {
    /* cursor: pointer; */
    cursor: default;
    width: 90%;
    height: 50px;
    line-height: 50px;
    transition: 0.2s;
    margin-top: 0;
    margin-bottom: 0;
}
.Fire {
    background-color: rgba(225, 133, 68);
}
.Water {
    background-color: rgba(112,144,233);
} 
.Grass {
    background-color: rgba(139, 197, 96);
}
.Eletric {
    background-color: rgba(242, 208, 84);
}
.Psychic{
    background-color: rgba(230, 99, 136);
}
.Steel {
    background-color: rgba(184, 184, 206);
}
.Normal{
    background-color: rgba(168, 168, 125);
}
.Fairy{
    background-color: rgba(236, 173, 195);
}
.Dark{
    background-color: rgba(108, 89, 74);
}
.Flying{
    background-color: rgba(164, 146, 234);
}
.Ghost{
    background-color: rgba(108, 90, 148);
}
.Poison{
    background-color: rgba(148, 72, 155);
}
.Ice{
    background-color: rgba(166, 214, 215);
}
.Ground{
    background-color: rgba(219, 192, 117);
}
.Rock{
    background-color: rgba(180, 160, 75);
}
.Dragon{
    background-color: rgba(105, 65, 239);
}
.Fighting{
    background-color: rgba(177, 61, 49);
}
.Bug{
    background-color: rgba(171, 183, 66);
}

.Picture--PokeInfo{
    width:50%;
    display:block;
    margin:auto;
}

.Index--PokeInfo{
 display: flex;
  justify-content: center;
  align-items: center;
}

.modal-title{
    margin: 0 auto;
}


/* Pokemon Type -- PokemonInfo.js */

.Poke--Type{
    margin-top: 2%;
}

.Flying--Type{
    text-align: center;
    color:white;
    background-color:violet;
    font-weight: 600;
    font-size: 18pt;
    border-radius:10px;
    font-variant:small-caps;
}

.Fire--Type{
    text-align: center;
    color:white;
    background-color:red;
    line-height: 40px;
    font-weight: 600;
    font-size: 18pt;
    font-size: 18pt;
    border-radius:10px;
    font-variant:small-caps;
}
.Water--Type{
    text-align: center;
    color:white;
    background-color:blue;
    line-height: 40px;
    font-weight: 600;
    font-size: 18pt;
    font-size: 18pt;
    border-radius:10px;
    font-variant:small-caps;
}
.Grass--Type{
    text-align: center;
    color:white;
    background-color:Green;
    line-height: 40px;
    font-weight: 600;
    font-size: 18pt;
    font-size: 18pt;
    border-radius:10px;
    font-variant:small-caps;
}
.Poison--Type{
    text-align: center;
    color:white;
    background-color:purple;
    line-height: 40px;
    font-weight: 600;
    font-size: 18pt;
    font-size: 18pt;
    border-radius:10px;
    font-variant:small-caps;
}
.Bug--Type{
    text-align: center;
    color:white;
    background-color:rgb(209, 224, 77);
    line-height: 40px;
    font-weight: 600;
    font-size: 18pt;
    font-size: 18pt;
    border-radius:10px;
    font-variant:small-caps;
}
.Normal--Type{
    text-align: center;
    color:white;
    background-color:rgb(156, 156, 99);
    line-height: 40px;
    font-weight: 600;
    font-size: 18pt;
    font-size: 18pt;
    border-radius:10px;
    font-variant:small-caps;
}

.Normal--Type{
    text-align: center;
    color:white;
    background-color:rgb(219, 181, 77);
    line-height: 40px;
    font-weight: 600;
    font-size: 18pt;
    font-size: 18pt;
    border-radius:10px;
    font-variant:small-caps;
}

.Fairy--Type{
    text-align: center;
    color:white;
    background-color:pink;
    line-height: 40px;
    font-weight: 600;
    font-size: 18pt;
    font-size: 18pt;
    border-radius:10px;
    font-variant:small-caps;
}

.Ground--Type{
    text-align: center;
    color:white;
    background-color:rgb(219, 181, 77);
    line-height: 40px;
    font-weight: 600;
    font-size: 18pt;
    font-size: 18pt;
    border-radius:10px;
    font-variant:small-caps;
}

.Fighting--Type{
    text-align: center;
    color:white;
    background-color:red;
    line-height: 40px;
    font-weight: 600;
    font-size: 18pt;
    font-size: 18pt;
    border-radius:10px;
    font-variant:small-caps;
}

.Electric--Type{
    text-align: center;
    color:white;
    background-color:rgb(246, 201, 19);
    line-height: 40px;
    font-weight: 600;
    font-size: 18pt;
    font-size: 18pt;
    border-radius:10px;
    font-variant:small-caps;
}

/** Pokemon-Stats **/

.Pokemon-Stat{
    width:50%;
    margin-left:25%;
    margin-top: 2%;
}

.Stats--Attack{
}

.Stats--Defense{
}

.Stats--HP{
}

.Stats--Speed{
}


/** Pokemon-Stat-Bar **/

.Stats--Bar{
    line-height:20px;
}

.progress{
    height:17px;
    width:70%;
    margin-top:2%;
}

.Testing-Defense{
    background-color:green;
}


@keyframes modalFade {
    from {transform: translateY(-50%);opacity: 0;}
    to {transform: translateY(0);opacity: 1;}
  }
  
  .modal {
    animation-name: modalFade;
    animation-duration: .3s;
  }
