
.BackgroundImageContainer-Login {
    top: 0px;
    left: 0px;
    position: fixed;
    height: 100%;
    width: 100%;
    /* background: url('/images/pokemonWallpaper.jpg'); */
    background-image: url("/images/LoginWallpaper.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    filter: opacity(80%) blur(1px);
}

.LoginFormContainer-Login{
    width: 350px;
    height: auto;
    padding: 10px;
    top: 50%;
    left: auto;
    right: 8%;
    position: absolute;
    transform: translate(0%, -50%);
    /* background-color: rgba(0, 0, 0, 0); */
    background: white;
    border: solid;
    box-shadow: 0 10px 10px 0.2em darkgray;
    /* border-color: white; */
    border-width: 1px;
    border-radius: 10px;
    text-align: center;
}

.PokedexTextContainer-Login{
    margin-bottom: 20px;
}

.PokedexText-Login {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    /* color: white; */
}

.UsernameContainer-Login, .PasswordContainer-Login {
    margin-top: 40px;
    margin-bottom: 40px;
}
.UsernameInputField-Login, .PasswordInputField-Login {
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    background: transparent;
    text-align: center;
    width: 60%;
    transition: 0.2s;
    /* color: white; */
}

.UsernameInputField-Login:focus, .PasswordInputField-Login:focus {
    width: 90%;
    border-color: skyblue;
}

.UsernameInputField-Login:focus::placeholder, .PasswordInputField-Login:focus::placeholder {
    color: transparent;

}

.UsernameInputField-Login::placeholder, .PasswordInputField-Login::placeholder {
    /* color: white; */
}

.ForgetPassBtn-Login {
    border: none;
    outline: none;
    background:none;
    margin-bottom: 21px;
    font-style: italic;
    color: lightgrey;
}

.ForgetPassBtn-Login:hover {
    border-bottom: 1px solid dodgerblue;
    color: dodgerblue;
    margin-bottom:20px;
}

.ForgetPassBtn-Login:active {
    border: none;
    outline: none;
}

.LoginButtonContainer-Login, .SignupButtonContainer-Login{
    margin-top: 20px;
    margin-bottom: 20px;
}
.SignupButtonContainer-Login {
    display: block;
}

.LoginButton-Login {
    outline: none;
    border: none;
    background: none;
    text-align: center;
    border-width: 2px;
    padding: 10px 15px;
    width: 40%;
    border: 1px solid;
    border-radius: 12px;
    user-select: none; 
    /* color: white; */

}
.LoginButton-Login {
    /* border-color:rgb(72, 255, 0); */
}

.LoginButton-Login:hover{
    border-color: lightgreen;
    color: lightgreen;
}

.SignupButton-Login {
    outline: none;
    border: none;
    background: none;
    border-bottom: 1px solid black;
    font-weight: bold;
    font-style: italic;
    font-size: 13px;
    /* color: white; */
    padding: 0;
}
.SignUpText-Login {
    font-size: 13px;
    /* color: white; */
    display: inline-block;
    margin-right: 2px;
}

.SignupButton-Login:hover {
    color: dodgerblue;
    border-color: dodgerblue;
}

.TESTING12 {
    color:dodgerblue;
    text-align: center;
}