/* .BackgroundImage-ResetPass {
    top: 0px;
    left: 0px;
    position: fixed;
    height: 100%;
    width: 100%;
    background-image: url("/images/ResetPassWallpaper.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    filter: opacity(80%) blur(2px);
}
.ItemsContainer-ResetPass {
    background-color: white;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    display: block;
    text-align: center;
    padding: 20px;
    box-shadow: 0 0 10px 0.2em darkgray;
} */
.PageTitle-ResetPass {
    /* text-align: center; */
}

/* .GreetingTextContainer-ResetPass, 
.PasswordInputContainer-ResetPass, 
.ConfirmPassInputContainer-ResetPass, 
.SubmitBtnContainer-ResetPass {
    margin-top: 100px;
    
} */

.PasswordInput-ResetPass, 
.ConfirmPassInput-ResetPass, 
.SubmitBtn-ResetPass {
    margin-top: 20px;
}

.PasswordInput-ResetPass, 
.ConfirmPassInput-ResetPass {
    /* margin-left: 50%; */
    /* transform: translateX(-50%); */
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid dodgerblue;
    outline: none;
    width: 60%;
    height: 40px;
    transition: 0.3s;
}

.PasswordInput-ResetPass:focus, 
.ConfirmPassInput-ResetPass:focus {
    width: 80%;
}

.PasswordInput-ResetPass:focus::placeholder, 
.ConfirmPassInput-ResetPass:focus::placeholder {
    color: transparent;
}

.SubmitBtn-ResetPass {
    background-color: dodgerblue;
    border: none;
    outline: none;
    width: 60%;
    height: 40px;
    /* margin-left: 50%; */
    /* transform: translateX(-50%); */
    transition: 0.3s;
}

.SubmitBtn-ResetPass:hover {
    box-shadow: 0 0 5px 0.1em dodgerblue;
    width: 80%;
}

.FormContainer-ResetPass {
    text-align: center;
    padding: 0 10px 0 10px;
}
.Logo-ResetPass {
    content: url("/images/HomeIcon.png");
    width: 240px;
    height: 170px;
}
.LogoContainer-ResetPass {
    width: 100%;
    height: auto;
    text-align: center;
}
.GreetingText-ResetPass{
    margin-top: 5px;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 5px;
}

.PasswordInput-ResetPass, .ConfirmPassInput-ResetPass{ 
    display: block;

}

.Message-ResetPass {
    color: red;
    margin: 15px 0 0 0;
    line-height: 20px;
}